<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734215365523-76cmh9iv8uco0t4r94qi8d9d9l2dtnih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734215365523-76cmh9iv8uco0t4r94qi8d9d9l2dtnih</string>
	<key>API_KEY</key>
	<string>AIzaSyBAohDtDHT0V3ocVDRy5iWWFpkqR8B4Aic</string>
	<key>GCM_SENDER_ID</key>
	<string>734215365523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ricardob.-002CEM-8655295</string>
	<key>PROJECT_ID</key>
	<string>movieapp-f92d7</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-f92d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734215365523:ios:6ee32bc1007758cf5dbe66</string>
</dict>
</plist>